<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.LogMapper">
   <select id="queryAllLogs" resultType="log">
       select * from log
   </select>
    <select id="queryAllLogsByUserId" resultType="log">
        select * from log where touserid = #{id}
    </select>
    <insert id="addLog" parameterType="log">
        insert into log (id,fromuserid,touserid,thing,status,create_time,update_time)
        values (#{id},#{fromuserid},#{touserid},#{thing},#{status},now(),now())
    </insert>
    <update id="updateLog" parameterType="log">
        update log set status=#{status},update_time=now() where id=#{id};
    </update>
    <delete id="deleteLog">
        delete from log where id=#{id};
    </delete>
    <delete id="deleteAllLogsByUserId">
        delete from log where touserid = #{id};
    </delete>
    <select id="queryLogsByStatusAndId" resultType="log">
        select * from log where touserid=#{touserid} and status=#{status}
    </select>
    <update id="updateAllLogs">
        update log set status=#{newstatus} where touserid=#{touserid} and status=#{status}
    </update>
    <delete id="deletDeletedLogsByUserId">
        delete from log where touserid=#{touserid} and status=3
    </delete>
</mapper>