<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.OrderMapper">
    <select id="queryAllRoles" resultType="role">
        select * from frame_role_tab
    </select>
    <insert id="addRole" parameterType="role">
        insert into frame_role_tab values (id,rolename,remark)
    </insert>
    <update id="updateRole" parameterType="role">
        update frame_role_tab set rolename=#{rolename},remark=#{remark}
    </update>
    <delete id="deleteRole">
        delete from frame_role_tab where id=#{id}
    </delete>
</mapper>